* { box-sizing: border-box; }

body {
    background: #000 url(../UI/Screens/launch.png) no-repeat 0 0;
    background-size: cover;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;

    @media (min-width: 450px) {
        background-size: auto 75%;
    }
}

body.game {
    background-image: url(../UI/Screens/game.jpg);
    background-size: auto 100%;
}

#ui {
}

#game {
    margin: auto;
}
