* { box-sizing: border-box; }

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: transparent;
}

#ui {
    overflow: hidden;
}

#game {
    margin: auto;
}

body {
    background: #000 url('/Assets/UI/Screens/launch.jpg') no-repeat 0 0;
    background-size: cover;
}

body:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.6;
    background-color: #000;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}