* { box-sizing: border-box; }

body {
    background: #000 url(../UI/Screens/launch.png) no-repeat center center;
    background-size: auto 75%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body.game {
    background-image: url(../UI/Screens/game.jpg);
    background-size: auto 100%;
}

#ui {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
}

#game {
    margin: auto;
}
