.header {
    flex: 1;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: #000;
    padding: 10px;
    opacity: 1;
}

.container {
    flex: 1;
    justify-content: center;
    align-items: center;
    background-color: #000;
    padding: 0px;
}

.web-view {
}
